$sans-serif-font: "proxima-nova", sans-serif;
$sans-serif-header-font: "proxima-nova", sans-serif;
$font-size: 1.8em;

$width: 800px;

html, body, button, input, textarea, select {
	font-family: $sans-serif-font;
	color: #423F38;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-size: $font-size;
	margin: 0;
	padding: 0;
}

.clearfix {
	&:before, &:after {
		content: "";
		display: block;
	}

	&:after {
		clear: both;
	}
}

.error {
	border: 1px solid #FF0000 !important;
}

header {
	max-width: $width;
	margin: 10px auto;
	padding: 0 8px;

	h1 {
		color: #37352F;
		margin: 0;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

main {
	display: block;
	max-width: $width;
	margin: 0 auto;
	padding: 0 8px;

	p {

	}

	#width, #height, #url {
		display: none;
	}

	input, button {
		padding: 8px 10px;
		border: 1px solid #CECECE;
		outline: none;
		-webkit-appearance: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;

		&:hover {
			border-color: #BBBBBB;
		}

		&:focus, &:active {
			border: 1px solid #37352F;
		}
	}

	input[type=button], input.submit {
		width: 100%;
		font-weight: 700;
		background: #ECECEC;
		margin-top: 2px;
		border: 1px solid #CCCCCC;
		cursor: pointer;
		letter-spacing: normal !important;

		&:hover {
			background: #E7E7E7;
		}
	}

	form#size {
		input {
			width: 49.8%;
			font-size: 1.2em;

			&[name=width] {
				float: left;
			}

			&[name=height] {
				float: right;
			}

			&[type=submit] {
				width: 100%;
			}
		}
	}

	#orWrapper {
		@extend .clearfix;
		margin: 26px 0;

		.line {
			width: 100%;
			height: 1px;
			background: #ADADAD;
			margin-top: 16px;
		}

		#leftColumn {
			float: left;
			width: 47%;
		}

		#centerColumn {
			float: left;
			width: 6%;

			#or {
				font-size: 28px;
				text-align: center;
			}
		}

		#rightColumn {
			float: right;
			width: 47%;
		}
	}

	form#ocr {
		#info {
			margin-bottom: 8px;
		}

		#inputWrapper {
			@extend .clearfix;
			width: 75%;
			margin: 0 auto;

			input[type=file] {
				float: left;
				border: none;
				margin: 11px 0;
				padding: 0;
			}

			input[type=submit] {
				float: right;
				width: 50%;
				font-size: 20px;
				font-weight: 700;
				background: #ECECEC;
				cursor: pointer;

				&:hover {
					background: #E7E7E7;
				}
			}
		}
	}

	#image {
		margin: 30px 0;
		padding-top: 30px;
		border-top: 1px solid #C5C5C5;
		display: none;

		p {
			margin: 0 0 30px 0;
		}

		button#cropImage {
			width: 100%;
			font-size: 24px;
			font-weight: 700;
			background: #ECECEC;
			margin-top: 30px;
			border: 1px solid #CCCCCC;
			cursor: pointer;

			&:hover {
				background: #E7E7E7;
			}
		}
	}

	form#rows {
		margin-top: 20px;

		input {
			width: 100%;
			font-size: 1.4em;
			letter-spacing: 5px;
			margin: 5px 0;
			padding: 8px 10px;
			text-transform: uppercase;

			&[type=submit] {
				text-transform: none;
			}
		}
	}

	form#words {
		@extend .clearfix;
		margin-top: 20px;

		input {
			width: 100%;
			font-size: 1.2em;

			&[type=button], &[type=submit] {
				width: 49.8%;
			}

			&[type=button] {
				float: left;
			}

			&[type=submit] {
				float: right;
			}

			&.not_found {
				border: 1px solid #FF0000;
			}
		}
	}

	section#result {
		font-family: "inconsolata", monospace;
		font-size: 1.6em;
		text-align: center;

		div#not_found {
			display: none;
		}

		div {
			padding: 8px 0;

			>span {
				padding: 6px 14px;
				margin: 0 2px;
				border-radius: 50%;
				border: 1px solid #FFF;

				&.first {
					background: #D8D8D8;
					border: 1px solid #6C6C6C;
				}

				&.last {
					background: #D8D8D8;
					border: 1px dashed #6C6C6C;
				}

				&.word {
					background: #D8D8D8;
				}
			}
		}
	}
}