html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    color: #282828;
    margin: 0;
    padding: 0 8px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 0.5rem;
    justify-content: center;
}

.container > * {
    min-width: 0;
}

#header h1 {
    margin: 20px 0 12px 0;
}

#header a {
    color: inherit;
    text-decoration: none;
    padding: 0 10px;
}

#header a:hover {
    text-decoration: underline;
}

textarea#puzzle-textarea {
    display: block;
    max-width: 100%;
    min-width: 517px;
    min-height: 214px;
    font-size: 2.6rem;
    letter-spacing: 20px;
    line-height: 40px;
    text-transform: uppercase;
    overflow-x: auto;
    white-space: pre;
    border-radius: 0;
    padding: 6px 16px;
}

*:focus {
    outline: 1px solid #72baff;
}

input, textarea {
    border: 1px solid #d8d8d8;
    border-radius: 0;
    padding: 6px;
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -2px;
}

.button-container > * {
    flex: 1;
}

.button-container input {
    font-size: 2rem;
    background: #f6f6f6;
    border-radius: 0;
    margin: 5px 2px;
    padding: 6px 4px;
    cursor: pointer;
}

.button-container input:hover {
    background: #f1f1f1;
}

.button-container input[type=submit] {
    font-weight: 600;
}

.button-container input::-moz-focus-inner {
    border: none;
}

.button-container .secondary {
    font-weight: 300;
    font-style: italic;
}

section.other {
    padding: 0 10px;
}

section#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 8px;
}

section#content > * {
    margin: 0 8px;
}

section#content-no-edit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 0 5px;
}

section#content-no-edit > * {
    margin: 0  5px;
}

aside#words {
    max-width: 300px;
    flex: 1 1 200px;
}

aside.words nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

aside.words nav > * {
    flex: 1;
}

aside.words nav h3 {
    font-size: 2.2rem;
    margin: 0;
}

aside.words nav a {
    color: #0086b3;
    text-align: right;
    margin-bottom: 2px;
    margin-right: 1px;
}

aside.words nav a:hover {
    color: #00b2ee;
}

aside#words form input {
    width: 100%;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

aside#words form input.not-found {
    border: 1px solid #ff4949;
}

aside#words form input.found:hover {
    border: 1px solid #a2d800;
}

aside#words #share {
    margin: 16px 0;
}

aside#words #share h4 {
    font-size: 1.9rem;
    font-weight: 600;
    margin: 0 0 4px 0;
}

aside#words #share input {
    width: 100%;
    font-size: 1.7rem;
}

aside#words-no-edit {
    flex: 1;
    text-align: center;
}

aside#words-no-edit nav h3 {
    font-size: 2.2rem;
    text-align: left;
    margin: 0 16px 0 0;
}

aside#words-no-edit nav form {
    flex: 0 1 auto;
    margin-bottom: 1px;
    margin-right: 1px;
}

aside#words-no-edit nav form button {
    font-size: 1.7rem;
    color: #0086b3;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

aside#words-no-edit nav form button:hover {
    color: #00b2ee;
}

aside#words-no-edit ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 2px -3px;
    padding: 0;
}

aside#words-no-edit ul li {
    flex: 1;
    background: #fbfbfb;
    border: 1px solid #c5c5c5;
    margin: 3px 3px;
    padding: 6px 20px;
}

aside#words-no-edit ul li.not-found {
    background: #ffebeb;
    border: 1px solid #ff9d9d;
}

aside#words-no-edit ul li.found:hover {
    background: #f5ffd8;
}

article#puzzle-container {
    flex: 0 1 content;
    overflow: scroll;
    margin-bottom: 8px;
}

article#puzzle {
    font-family: monospace;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: -4px;
}

article#puzzle .row {
    margin: 20px 0;
}

article#puzzle .row .letter {
    white-space: pre;
    padding: 10px 12px;
}

article#puzzle .row .highlight {
    background: #ffff62;
}

article#puzzle .row .selected {
    background: #bfff00;
}

#footer {
    font-weight: 300;
    color: #bababa;
    text-align: center;
    margin: 20px 0;
    padding: 0 10px;
}

#footer a {
    color: inherit;
}

#footer a:hover {
    color: #9d9d9d;
}
