html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0;
    padding: 0 8px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 0.5rem;
    justify-content: center;
}

.container > * {
    min-width: 0;
}

#header {
    text-align: center;
}

textarea {
    text-transform: uppercase;
}

section#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

aside#words {
    max-width: 300px;
    flex: 1 1 200px;
    padding: 0 8px;
}

aside#words h2 {
    margin: 0;
}

aside#words form input {
    width: 100%;
    font-size: 1.8rem;
    margin: 5px 0;
    padding: 6px 4px;
}

article#puzzle-container {
    flex: 0 1 content;
    overflow: scroll;
}

article#puzzle {
    font-family: monospace;
    font-size: 3rem;
    text-transform: uppercase;
}

article#puzzle .row {
    margin: 20px 0;
}

article#puzzle .row .letter {
    white-space: pre;
    padding: 10px 12px;
}

article#puzzle .row .highlight {
    background: yellow;
}
