{{define "title"}}Puzzle | {{end}}

{{define "body"}}
<!--form action="/puzzle/{{.solvedPuzzle.URL}}/clone" method="POST">
    <button type="submit">Clone</button>
</form-->

<section id="content">
    <aside id="words">
        <nav>
            <h3>Words</h3>
            <a href="/p/{{.solvedPuzzle.URL}}/edit">Edit Puzzle</a>
        </nav>
        <form action="/puzzle/{{.solvedPuzzle.URL}}/words" method="POST">
            {{range $i, $word := .words.Words}}
            <input type="hidden" name="Words.{{$i}}.ExistingWord" value="{{$word.Word}}">
            <input type="text" name="Words.{{$i}}.Word" value="{{$word.Word}}">
            {{end}}
            <input type="hidden" name="Words.{{len .words.Words}}.ExistingWord">
            <input type="text" name="Words.{{len .words.Words}}.Word" autofocus>
            <div class="button-container">
                <input type="button" class="secondary" value="Add word">
                <input type="submit" value="Save">
            </div>
        </form>
    </aside>

    <article id="puzzle-container">
        {{with .solvedPuzzle}}

        <article id="puzzle">
        {{- range $y, $arr := .Locations}}
            <div class="row">
            {{- range $x, $location := $arr}}
                {{- $class := ""}}
                {{- if gt (len $location.Words) 0}}
                {{- $class = " highlight"}}
                {{- end -}}
                <span class="letter {{- $class}}">{{$location.Char}}</span>
            {{- end -}}
            </div>
        {{- end}}
        </article>
        {{end}}
    </article>
</section>

{{- end}}
