{{define "title"}}Puzzle | {{end}}

{{define "body"}}
<section id="content-no-edit">
    <aside id="words-no-edit" class="words">
        <nav>
            <h3>Words</h3>

            <form action="/puzzle/{{.solvedPuzzle.ViewURL}}/clone" method="POST">
                <button type="submit">Make a copy</button>
            </form>
        </nav>
        <ul>
            {{range $i, $word := .words.Words}}
            {{- $class := "found"}}
            {{- if not $word.Exists}}
            {{- $class = "not-found"}}
            {{- end -}}
            <li class="{{$class}}" value="{{$word.Word}}">{{$word.Word}}</li>
            {{end}}
        </ul>
    </aside>

    <article id="puzzle-container">
        {{with .solvedPuzzle}}

        <article id="puzzle">
        {{- range $y, $arr := .Locations}}
            <div class="row">
            {{- range $x, $location := $arr}}
                {{- $class := ""}}
                {{- if gt (len $location.Words) 0}}
                {{- $class = " highlight"}}
                {{- end -}}
                <span class="letter {{- $class}}" encapsulated-words="{{$location.Class}}">{{$location.Char}}</span>
            {{- end -}}
            </div>
        {{- end}}
        </article>
        {{end}}
    </article>
</section>

{{- end}}
